<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Admin Panel</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        text-align: center;
        }

        h1 {
            background-color: #007BFF;
            color: #fff;
            padding: 10px;
        }

        .product {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }

        .accept-btn, .reject-btn {
            background-color: #007BFF;
            color: #fff;
            padding: 5px 10px;
            margin-right: 10px;
            cursor: pointer;
        }

        .accept-btn:hover, .reject-btn:hover {
            background-color: #0056b3;
        }
    </style>

</head>

<body>
    <h1>Admin Panel</h1>
    <div class="product-list">
        <!-- Products will be dynamically generated here -->
    </div>
    <script src="../script.js"></script>
</body>

</html>
